<% layout("/layouts/boilerplate") -%> 
<br>
<div class="table-container">
<table border="1">
    <tr>
        <th>Bed ID</th>
        <th>Floor</th>
        <th>Room No.</th>
        <th>Status</th>
    </tr>
    <tr><td>B102</td><td>1st</td><td>101</td><td class="available">Available</td></tr>
    <tr><td>B202</td><td>1st</td><td>201</td><td class="available">Available</td></tr>
    <tr><td>B102</td><td>2nd</td><td>101</td><td class="available">Available</td></tr>
    <tr><td>B202</td><td>2nd</td><td>201</td><td class="available">Available</td></tr>
    <tr><td>B102</td><td>3rd</td><td>101</td><td class="available">Available</td></tr>
    <tr><td>B202</td><td>3rd</td><td>201</td><td class="available">Available</td></tr>
    <tr><td>B102</td><td>4th</td><td>101</td><td class="available">Available</td></tr>
    <tr><td>B202</td><td>4th</td><td>201</td><td class="available">Available</td></tr>
</table>
</div>
