<% layout("/layouts/boilerplate") -%> 
<br><br>
<div class="main-body-page bg-light p-2 m2" style="border-radius: 6px;">
    
    <div style="background-color: green; border-radius: 8px;" class="d-flex gap-2 cols m-1">
        <!-- "Add New Member" Heading-->
        <div  class="col-7">
            <p class="new-form-heading" style="color: azure; padding: 10px;">New Member Added Succesfully</p>
        </div>
        <!-- "<Back" Button-->
        <i style="font-size: 50px; color: azure; margin: auto;" class="fa-solid fa-circle-check"></i>
    </div>
<hr>

    <div class="container student-box">
        <div class="col-12">
            <a href="/user/members" style="color: #021e2b;" class="col-12 btn"> <i class="fa-solid fa-chevron-left"></i>  Back to Home </a>
        </div>
</div>
 