<% layout("/layouts/boilerplate") -%> 
<br><br>
<h3 class="revenue-heading">All Members</h3>

<div class="table-container">
  <form action="/member/search" method="post">
    <div class="row">
      <div class="col-7" style="margin-left: 20px;">
          <input name="name" type="text" class="form-control" id="validationCustom01" maxlength="16" placeholder="Enter Name or Mobile"  required>
          <div class="invalid-feedback">
            Please provide a valid Mobile.
          </div>
        </div>
        <button class="col-4 btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
  </div>
  <hr>
    </form>
<table  border="1">
    <tr>
        <th>S. No.</th>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Mobile No.</th>
        <th>Aadhar No.</th>
        <th>Address</th>
        <th>Profession</th>
        <th>Joining Date</th>
        <th>Assigned Room</th>
        <th>Room Fees</th>
        <th>Status</th>
        <th>Left Date</th>
        
        <th><i class="fa-solid fa-user-pen"></i></th>
        <th><i class="fa-solid fa-user-xmark"></i></th>
        
    </tr>
    
    <tr>
      <td colspan="14" style="text-align:center;">
      <% if (errorMessage) { %>
          <h5 style="color: red;"><%= errorMessage %> !</h5>
      <% } %>
    </td>

  </tr>
           
     </table>
</div>
